<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>button</title>
		<link href="style.css" rel="stylesheet">
	</head>
	<body onload="init()">
		<div id="app">
			<input type="radio" value="sine" v-model="wave">Sine
			<input type="radio" value="square" v-model="wave">Square
			<input type="radio" value="sawtooth" v-model="wave">Sawtooth
			<input type="radio" value="triangle" v-model="wave">Triangle
			<input type="radio" value="noise" v-model="wave">Noise
			<br>
			<input type="range" min="0" max="1000" v-model="gain">
			<ul class="set">
				<li class="white c" v-on:click="keyPlay(72)"></li>
				<li class="black cs" v-on:click="keyPlay(73)"></li>
				<li class="white d" v-on:click="keyPlay(74)"></li>
				<li class="black ds" v-on:click="keyPlay(75)"></li>
				<li class="white e" v-on:click="keyPlay(76)"></li>
				<li class="white f" v-on:click="keyPlay(77)"></li>
				<li class="black fs" v-on:click="keyPlay(78)"></li>
				<li class="white g" v-on:click="keyPlay(79)"></li>
				<li class="black gs" v-on:click="keyPlay(80)"></li>
				<li class="white a" v-on:click="keyPlay(81)"></li>
				<li class="black as" v-on:click="keyPlay(82)"></li>
				<li class="white b" v-on:click="keyPlay(83)"></li>
			  </ul>
			<span>{{$data}}</span>
		</div>
		<script
		src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js">
		</script>
		<script src="index.js"></script>
	</body>
</html>